.wrapper{
    min-height: 570
}
.content{
    width: 570px;
    height: 558px;
    display: flex;
    margin: 65px 450px 0px 455px;
    background-color: #B9ADA0;
    border-radius: 20px;
}
.container{
    display: grid;
    grid-template-columns: 140px 140px 140px 140px;
}
.cell-1{
    width: 118px;
    height: 118px;
    margin: 17px 15px 0px 15px;
    background-color: #EAE1D8;
    border-radius: 20px;
}
.cell-2{
    width: 118px;
    height: 118px;
    margin: 17px 15px 0px 15px;
    background-color: #EAE1D8;
    border-radius: 20px;
}
.cell-3{
    width: 118px;
    height: 118px;
    margin: 17px 15px 0px 15px;
    background-color: #EAE1D8;
    border-radius: 20px;
}
.cell-4{
    width: 118px;
    height: 118px;
    margin: 17px 15px 0px 15px;
    background-color: #EAE1D8;
    border-radius: 20px;
}
.cell-5{
    width: 118px;
    height: 118px;
    margin: 17px 15px 0px 15px;
    background-color: #EAE1D8;
    border-radius: 20px;
}
.cell-6{
    width: 118px;
    height: 118px;
    margin: 17px 15px 0px 15px;
    background-color: #EAE1D8;
    border-radius: 20px;
}
.cell-7{
    width: 118px;
    height: 118px;
    margin: 17px 15px 0px 15px;
    background-color: #EAE1D8;
    border-radius: 20px;
}
.cell-8{
    width: 118px;
    height: 118px;
    margin: 17px 15px 0px 15px;
    background-color: #EAE1D8;
    border-radius: 20px;
}
.cell-9{
    width: 118px;
    height: 118px;
    margin: 17px 15px 0px 15px;
    background-color: #EAE1D8;
    border-radius: 20px;
}
.cell-10{
    width: 118px;
    height: 118px;
    margin: 17px 15px 0px 15px;
    background-color: #EAE1D8;
    border-radius: 20px;
}
.cell-11{
    width: 118px;
    height: 118px;
    margin: 17px 15px 0px 15px;
    background-color: #EAE1D8;
    border-radius: 20px;
}
.cell-12{
    width: 118px;
    height: 118px;
    margin: 17px 15px 0px 15px;
    background-color: #EAE1D8;
    border-radius: 20px;
}
.cell-13{
    width: 118px;
    height: 118px;
    margin: 17px 15px 0px 15px;
    background-color: #EAE1D8;
    border-radius: 20px;
}
.cell-14{
    width: 118px;
    height: 118px;
    margin: 17px 15px 0px 15px;
    background-color: #EAE1D8;
    border-radius: 20px;
}
.cell-15{
    width: 118px;
    height: 118px;
    margin: 17px 15px 0px 15px;
    background-color: #EAE1D8;
    border-radius: 20px;
}
.cell-16{
    width: 118px;
    height: 118px;
    margin: 17px 15px 0px 15px;
    background-color: #EAE1D8;
    border-radius: 20px;
}
#cell-text-1{
    margin: 35px 35px 20px 45px ;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: 900;
}
#cell-text-2{
    margin: 35px 35px 20px 45px ;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: 900;
}
#cell-text-3{
    margin: 35px 35px 20px 45px ;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: 900;
}
#cell-text-4{
    margin: 35px 35px 20px 45px ;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: 900;
}
#cell-text-5{
    margin: 35px 35px 20px 45px ;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: 900;
}
#cell-text-6{
    margin: 35px 35px 20px 45px ;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: 900;
}
#cell-text-7{
    margin: 35px 35px 20px 45px ;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: 900;
}
#cell-text-8{
    margin: 35px 35px 20px 45px ;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: 900;
}
#cell-text-9{
    margin: 35px 35px 20px 45px ;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: 900;
}
#cell-text-10{
    margin: 35px 35px 20px 45px ;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: 900;
}
#cell-text-11{
    margin: 35px 35px 20px 45px ;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: 900;
}
#cell-text-12{
    margin: 35px 35px 20px 45px ;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: 900;
}
#cell-text-13{
    margin: 35px 35px 20px 45px ;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: 900;
}
#cell-text-14{
    margin: 35px 35px 20px 45px ;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: 900;
}
#cell-text-15{
    margin: 35px 35px 20px 45px ;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: 900;
}
#cell-text-16{
    margin: 35px 35px 20px 45px ;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: 900;
}

